body {
    background: url("https://images.unsplash.com/37/IHLjdHdzSvi0rgUMMlSK_TE3_0286.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2668&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
    user-select: #083327;
}

h1{
    margin: 5px;
}

::selection {
    color: #093427;
    background: rgb(188, 214, 192);
}

#resumeContainer{
    margin: 10px;
    display: flex;
    align-items: stretch;
    height: fit-content;
    gap: 10px;
    flex-wrap: wrap;
    min-height: 97vh;
}

.mainCol{
    min-width: 500px;
    border: 1px solid white;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: normal;
    flex: 1;
    overflow: scroll;
    max-height: 97vh;
    backdrop-filter: blur(30px);
    overflow-x: hidden;
    scrollbar-width: thin;
}



#face{
    width: 100%;
    max-height: 33%;
    object-fit: cover;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


#aboutMe{
    flex: 1;
    /* backdrop-filter: blur(50px); */
    border-radius: 5px;
    border-top-left-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    padding: 10px;
    /*min-height: 100;*/
}


.Section{
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    
}

.subSection{

    display: flex;
    flex: 1;
}

.pro-subSection{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#currentProject{
    width: auto;
    flex: 0.75;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    /*backdrop-filter: blur(100px);*/
    background:rgba(255, 255, 255, 0.1);
    border: 2px dashed white;
    padding: 10px;
}


#proficiency{
    width: auto;
    flex: 3;
    display: flex;
    flex-direction: row;
    gap: 5px;
}



.skillBar{
    flex: 1;
    align-items: center;
    display: flex;
    padding: 2px;
}

.skillBar svg{
    height: 100px;
    float: left;
    fill: white;
}

.titleAndBar{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}

h2{
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

.barOutline{
    border: 2px solid white;
    border-radius: 100px;
    width: auto;

    height: 20px;
    position: relative;

    z-index: 2;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(100px); */
}

.progressBar{
    z-index: 1;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    border-radius: 100px;
    background: #55ff80;
}


.oldBar{
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    z-index: -1;
    position: absolute;
    height: 100%;
    border-radius: 100px;
    background: #4a8b56;
    transition: width 2s;
}

hr{
    color: rgb(255, 255, 255);
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    size: 1px;
}

#projects{
    width: auto;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(179, 255, 193, 0.1);
}

#pastProjectsGroup{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#projects hr{
    width: 80%;
}

#languages{
    width: auto;
    flex: 0.5;
}


#futureProjects{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.futProj{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}


#twoForOne-Wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}


#SandW{
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

#SandW-Wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.swCol{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.headBar{
    background: #FFFFFF;
    border-radius: 4px;
    min-height: 25px;
    width: 100%;
}

ul{
    font-size: 25px;
    margin-bottom: 5px;
}

#portfolio{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    justify-content: space-between;
    max-width: 700px;
}

#port-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#port-links a{
    flex: 1;
    display: flex;
    justify-content: center;
}

#port-links svg{
    fill: white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 10px;
    cursor: pointer;
    max-width: 200px;
}

#port-links svg:hover{
    background-color: rgba(255, 255, 255, 0.2);
}





.icon-grid {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0px;
}

.icon-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
}

.icon-row svg {
    margin: 5px;
    /* backdrop-filter: blur(50px); */
    background: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    fill: white;
    flex: 1;
    max-width: 100%;
    height: 90px;
    cursor: pointer;
}

.icon-grid svg:hover{
    background: rgba(255, 255, 255, 0.1);
}

.icon-grid .icon-row:nth-child(1) svg:nth-of-type(1) {
    fill: #90bb9b;
}
.icon-grid .icon-row:nth-child(1) svg:nth-of-type(2) {
    fill: #35ff68;
}
.icon-grid .icon-row:nth-child(1) svg:nth-of-type(3) {
    fill: #64da82;
}
.icon-grid .icon-row:nth-child(1) svg:nth-of-type(4) {
    fill: #5de67f;
}

.icon-grid .icon-row:nth-child(2) svg:nth-of-type(1) {
    fill: #42eb6c;
}
.icon-grid .icon-row:nth-child(2) svg:nth-of-type(2) {
    fill: #66d181;
}
.icon-grid .icon-row:nth-child(2) svg:nth-of-type(3) {
    fill: #70bd84;
}
.icon-grid .icon-row:nth-child(2) svg:nth-of-type(4) {
    fill: #90bb9b;
}





 /* width */
 ::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4a8b56;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 